<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Page</title>
</head>
<body>
  <h1> User Edit Page </h1>
  <a href="/">Home</a>
  <p></p>
  <table border="1" class="table table-striped table-hover">
    <thead>
      <th> Current User Name </th>
    </thead>
    <tbody>
        <tr>
          <td> <%= user.user_name %> </td>
        </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
  <p></p>
  <form action= <%= "/" + user.id + "?_method=PATCH"%> method="POST">
    <label for="userName"> Username: </label>
    <input type="text" name="userName" required />
    <input type="submit" value="Submit"/>
  </form>
</body>
</html>
