include ../partials/header
h1 New User Page

form(action="/users" method="POST")
	label Full Name: 
		input(type="text", name="user[full_name]", autofocus, required)
	label Username: 
		input(type="text", name="user[username]", required)
	label Image Url:
		input(type="text", name="user[img_url]")
	input(type="submit", value="Create New User")
