<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New User Page</title>
</head>
<body>
  <h1> New User Page </h1>
  <a href="/">Home</a>
  <p></p>
  <form action="/new" method="POST" >
  	<label for="userFullName"> Full Name: </label>
  		<input type="text" name="fullName" autofocus required />
      <p></p>
  	<label for="userName"> Username: </label>
      <input type="text" name="userName" required />
      <p></p>
      <input type="submit" value="Submit"/>
  </form>

</body>
</html>
